@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-w3layouts wrapper">
	<h1>Forget Password</h1>
    <div class="main-agileinfo">
	    <div class="agileits-top">
		    <form asp-action="SendResetPasswordUrl">
			    <input class="text" asp-for="Email" placeholder="Email" required="">
			    <span asp-validation-for="Email" class="text-danger"></span>
			    <br />		
			    <input type="submit" value="SUBMIT">
		    </form>
	    </div>
    </div>
</div>

