@model EmployeeDetailsToReturnDTO
@{
    ViewData["Title"] = "Details";
    ViewBag.Action = "Details";
}

<h1>Employee Details</h1>
<br />
<br />

<partial name="Partials/DetailsDeleteEmployeePartial" />

